version: '{build}'
image: Visual Studio 2019

environment:
    matrix:
        - job_name: Java 8, python 3.8
          JAVA_HOME: C:\Program Files\Java\jdk1.8.0
          PYTHON: "C:\\Python38-x64"
          PIP: 24.0
        - job_name: Java 11, python 3.11
          JAVA_HOME: C:\Program Files\Java\jdk11
          PYTHON: "C:\\Python38-x64"
          PIP: 24.0
        - job_name: Java 17, python 3.12
          JAVA_HOME: C:\Program Files\Java\jdk17
          appveyor_build_worker_image: Visual Studio 2019
          PYTHON: "C:\\Python311-x64"
          PIP: 24.0

install:
  - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
  - python --version
  - python -m pip install -U pip==%PIP%
  - python -m pip --version
  - python -m pip install -U virtualenv==20.25.1

build_script:
  - ./gradlew assemble --no-daemon
test_script:
  - ./gradlew check --no-daemon

on_success:
  - ./gradlew jacocoTestReport --no-daemon
  - ps: |
      $ProgressPreference = 'SilentlyContinue'
      Invoke-WebRequest -Uri https://uploader.codecov.io/latest/windows/codecov.exe -Outfile codecov.exe
      .\codecov.exe -f build\reports\jacoco\test\jacocoTestReport.xml -F windows

cache:
  - C:\Users\appveyor\.gradle\caches
  - C:\Users\appveyor\.gradle\wrapper